* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;

  height: 100%;
}

.container {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form {
  display: flex;
  align-items: center;
}

.form_input {
  padding: 1em;
}

.form_input--submit {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
}

.form_input--text {
  flex: 1;
  margin-right: 1em;
}

#display {
  background: #EFEFEF;
  margin: 1em 0 0;
  padding: 1em;
  flex: 1;
}
