* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;

  height: 100%;
}

.container {
  height: 100%;
  padding: 1em;
}

.form {
  display: flex;
  align-items: center;
  height: 3vh;

  min-height: 2em;
}

.form_input {
  padding: 1em;
}

.form_input--submit {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
}

.form_input--text {
  flex: 1;
}

.form_input--text,
.form_input--select {
  margin-right: 1em;
}

#display {
  background: #EFEFEF;
  margin: 1em 0 0;
  padding: 1em;
  height: 93vh;

  overflow: scroll;
}
